@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  20% {
    filter: hue-rotate(-10deg);
  }
  40% {
    filter: hue-rotate(-110deg);
  }
  55% {
    filter: hue-rotate(-180deg);
  }
  75% {
    filter: hue-rotate(-270deg);
  }
  100% {
    filter: hue-rotate(-360deg);
  }
}