/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  letter-spacing: -0.2px;
  text-align: center;
  line-height: 1.45;
  font-size: 16px;
  margin: 0;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background-color: $green;
  text-shadow: none;
  color: #fff;
}

::selection {
  background-color: $green;
  text-shadow: none;
  color: #fff;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

.browsehappy {
  background: $green;
  padding: 2em;
}