article {
  max-width: 35em;
  margin: 0 auto 1.25em;
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
  transition: height 100ms ease, transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1);

  span {
    color: #444;
    font-size: 0.75em;
  }

  a {
    word-break: break-word;
  }

  .article-inner {
    padding: 1em 1em 0.75em;
  }

}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}


[id='butt-wrapper'] {
  max-width: 35em;
  margin: 0 auto 1.25em;
}

.new {
  height: 0;
  transform: scale(0);
  opacity: 0;

  &[reveal-transition="complete"] {
    opacity: 1;
    transform: scale(1);
  }
}

[id='intro'] {
  margin-bottom: 1.5em;
}

[id='paste'] {
  margin: 0 15px;
}

[id='input'] {
  margin-bottom: 1em;
  display: none;
  border-radius: 0;
  border: 1px solid orange;
  -webkit-appearance: none;

  &.visible {
    display: inline-block;
  }
}

[id='error'] {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  max-width: 30em;
  margin: 0 auto;
  color: #fff;
  background-color: $green;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
  padding: 1em;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.yt-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  margin: 0 0 1em;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}