$bg-shade: rgba(200,200,200,.5);
$size: 80px;
$border: 8px;

.loading {
  display: block;
  width: $size;
  height: $size;
  border-width: $border;
  border-style: solid;
  border-color: $cyan $bg-shade $bg-shade $bg-shade;
  border-radius: 50%;
  -webkit-animation: rotate 0.8s linear infinite;
  animation: rotate 0.8s linear infinite;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -($size / 2);
  margin-left: -($size / 2);
}

@keyframes rotate {
  0% {-webkit-transform:rotate(0deg);transform:rotate(0deg)}
  100% {-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}