.logo {
	background-color: $green;
	color: #fff;
	font-size: 0.5em;
	margin-bottom: 2em;
	animation: hue 20s 0s infinite linear;

	h1 {
		letter-spacing: -0.5px;
		color: #fff;
		font-weight: normal;
		display: inline-block;
		line-height: 1;
		padding: 1em 0;
	}

	svg {
		width: 35px;
		height: 30px;
		position: relative;
		top: -4px;
		left: -8px;
	}
}


p {
  margin: 0 0 1em;
}

a {
	color: $green;
	transition: all $timing ease-in-out;

	&:hover,
	&:focus {
		background-color: $green;
		color: #fff;
		span {
			color: #fff;

		}
	}
}