/* ==========================================================================
   Variables
   ========================================================================== */

//Type settings

$base-font-size: 16px;
$base-line-height: 24px;


$green: #0eb972;


$timing: 300ms;